# deployment-related
jspm_packages
.serverless

# MacOS-related
.DS_Store

# Code-related
node_modules/
npm-debug.log
public/*
dist
coverage/
.nyc_output/
yarn.lock
.env

# Editor-related
.idea/
.vscode/


